body {
    font-family: 'Bangers', cursive;
    color: white;
    background-color: #1b4d3e;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
    font-weight: lighter;
    text-shadow: 4px 4px 2px rgb(0 0 0);
}

#container {
    display: flex;
    width: 45%;
    justify-content: flex-start;
}

#container #rock {}

#container #paper {}

#container #scissors {}

#container img {
    width: 33.3333%;
}

#span_msg {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem auto;
    text-shadow: 4px 4px 2px rgb(0 0 0);
}

.cpChoiceImg {
    width: 33%;
}

#combat {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#combat .alex {
    width: 33%;
    height: 100%;
    margin: 0;
}

#combat .alex img {
    width: 70%;
}

#combat .cp {
    width: 33%;
    margin: 0;
    order: 3;
}

#combat .cp img {
    width: 100%;
}

#reset {
    font-family: 'Bangers', cursive;
    font-size: 0.8rem;
    color: white;
    font-weight: lighter;
    max-width: 25%;
    border: none;
    background-color: rgb(143, 55, 55);
    box-shadow: 5px 5px 5px black;
}

/* hover */

#container img:hover {
    cursor: pointer;
}

#reset:hover {
    cursor: pointer;
    background-color: rgb(46, 134, 46);
    transition: 0.3s;
}

#reset:active {
    box-shadow: none;
}